recursive-include st_rsuite/date_input/frontend/build *
recursive-include st_rsuite/date_picker/frontend/build *
recursive-include st_rsuite/date_range_input/frontend/build *
recursive-include st_rsuite/date_range_picker/frontend/build *
recursive-include st_rsuite/time_picker/frontend/build *
recursive-include st_rsuite/time_range_picker/frontend/build *
recursive-include st_rsuite/radio_tile/frontend/build *
recursive-include st_rsuite/check_tree/frontend/build *
recursive-include st_rsuite/check_tree_picker/frontend/build *
recursive-include st_rsuite/multi_cascade_tree/frontend/build *
recursive-include st_rsuite/carousel/frontend/build *
recursive-include st_rsuite/timeline/frontend/build *
recursive-include st_rsuite/pin_input/frontend/build *
include st_rsuite/pyproject.toml
